.menu {
    grid-area: navbar;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;
    

    &__logo {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
    }

    &__nav {
        display: inline-block;
        width: 840px;
        text-align: right;
    }
    &__link {
        text-decoration: none;
        justify-content: center;
        text-transform: uppercase;
    }

    &__input {
        border-radius: 30px;
    }
}
